* text=auto

# Code taken from COSC349 Lab 06.
# Ensures that on Windows text files are checked out with Unix line endings,
# as the VM's are running Linux

db/* text eol=lf
client/* text eol=lf
admin/* text eol=lf
